discord.py==2.6.4
aiohttp>=3.7.4,<4.0
aiohappyeyeballs>=2.5.0
aiosignal>=1.4.0
attrs>=17.3.0
frozenlist>=1.1.1
multidict>=4.5,<7.0
propcache>=0.2.0
yarl>=1.17.0,<2.0
idna>=2.0
audioop-lts>=0.2.2
colorama>=0.4.6
